*{
    box-sizing: border-box;
}
button {
  width: 150px;
  height: 150px;
  box-shadow: 4px 5px 6px black;
  margin: 10px;
  font-size: 100px;
  color: greenyellow;
  background-color: wheat;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: auto;
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 70%;
    margin: auto;
}
p {
    font-size: 30px;
    line-height: 65px;
}
a {
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
